body {
  background: url('../img/sushi-background.jpg');
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Coming Soon', cursive;
  font-size: 20px;
}

.quiz-title {
  color: white;
  text-align: center;
  font-size: 4em;
}

#welcome-container, #quiz-container, #endgame-container {
  /*border: 2px solid red;*/
  width: 70%;
  margin: 0 auto;
}

.hidden {
  display: none;
}

.scoring {
  float: right;
  font-weight: bold;
  color: #E20FB8;
  font-size: 1.5em;
}

.card {
  height: 50%;
  border: 2px dotted black;
  border-radius: 10px;
  text-align: center;
  background-color: #1A7B16;
  clear: both;
}


.questions, .q-number {
  color: #E6E354;
}
.answer-choices {
  display: block;
  color: white;
}

.correct-answer {
  color: #24FE00;
}

.incorrect-answer {
  color: #F4303E;
}

button {
  padding: 10px;
  width: 100px;
  margin: 10px;
  background-color: white;
  border-radius: 10px;
  font-family: 'Coming Soon';
  font-weight: bolder;
}
